#!/usr/bin/env bash

HOST={{ ansible_hostname }}

etcdctl --endpoints https://127.0.0.1:2379 --cacert=/etc/ssl/etcd/ssl/ca.pem --cert=/etc/ssl/etcd/ssl/member-$HOST.pem --key=/etc/ssl/etcd/ssl/member-$HOST-key.pem endpoint --cluster health
