redis-ephemeral:
  resources:
    limits:
      cpu: "1000m"
      memory: "1024Mi"
    requests:
      cpu: "500m"
      memory: "512Mi"
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: 7.2.5
