# PostgreSQL Client Authentication Configuration File
# {{ ansible_managed }}

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# PostgreSQL HBA configuration
# Local connections
local   all           postgres                          peer
local   all           all                               peer

{% set network_subnet = primary_node | ipaddr('network') + '/24' %}
# repmgr metadata connections
local   {{ repmgr_database }}        {{ repmgr_user }}                                   md5
host    {{ repmgr_database }}        {{ repmgr_user }}        127.0.0.1/32               md5
host    {{ repmgr_database }}        {{ repmgr_user }}        {{ network_subnet | default('10.0.0.0/8') }}  md5

# repmgr streaming replication connections
local   replication   {{ repmgr_user }}                                   md5
host    replication   {{ repmgr_user }}        127.0.0.1/32               md5
host    replication   {{ repmgr_user }}        {{ network_subnet | default('10.0.0.0/8') }}  md5


# Application access for the network
host    all           all           {{ network_subnet | default('10.0.0.0/8') }}  md5