#!/bin/bash

read -p "Do you want to setup git commit hooks? (y/Y to continue): " response
if [[ "$response" =~ ^[yY]$ ]]; then
    git config core.hooksPath .git-hooks
else
    git config --unset core.hooksPath
fi

read -p "Do you want to continue with Nix operations? (y/Y to continue): " response

if [[ "$response" =~ ^[yY]$ ]]; then
    nix-build $PWD/default.nix -A env --out-link .nix-env

    PATH_add ".nix-env/bin"

    export LOCALHOST_PYTHON="$PWD/.nix-env/bin/python"

    # source .profile from `$env`.
    # This is only used to set things interpolated by nix.
    # All *static* things should live inside .envrc.
    [[ -f ".nix-env/.profile" ]] && source_env ".nix-env/.profile"

    # allow local .envrc overrides
    [[ -f .envrc.local ]] && source_env .envrc.local

else
    echo "Skipping Nix operations."
fi
