nix-build $PWD/default.nix -A env --out-link .nix-env

PATH_add ".nix-env/bin"

export LOCALHOST_PYTHON="$PWD/.nix-env/bin/python"

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
