#!/bin/bash

nix-build $PWD/default.nix -A env --out-link .nix-env

PATH_add ".nix-env/bin"

export LOCALHOST_PYTHON="$PWD/.nix-env/bin/python"

# source .profile from `$env`.
# This is only used to set things interpolated by nix.
# All *static* things should live inside .envrc.
[[ -f ".nix-env/.profile" ]] && source_env ".nix-env/.profile"

# allow local .envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local

# setting up .git-hooks for commit message verification
git config core.hooksPath .git-hooks

echo ""
echo " Git Hooks has been configured. Read more about them here: https://github.com/wireapp/wire-server-deploy?tab=readme-ov-file#optional-git-commit-message-verification or locally at README.md#optional-git-commit-message-verification"
echo " If you don't want to use it, run the following command to unset it"
echo " git config --unset core.hooksPath"
echo ""
