*.tgz
*secrets.yaml
*.key
*.bak
*.cert
.vscode
# Sometimes left behind as an artifact during CI runs
/index.yaml
secrets.yaml
requirements.lock
values/*/demo-values.override.yaml
values/*/demo-secrets.override.yaml
.DS_Store
values-init-done
# Emacs backup files
*~
# Emacs autosave files
\#*\#

# Envrc local overrides
.envrc.local

# Nix-created result symlinks
result
result-*

.nix-env

# for bin/secrets.sh
secrets_cache/

terraform.tfstate
terraform.tfstate.backup
kubeconfig.new
