apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: brig
  labels:
    wireService: brig
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      wireService: brig
  template:
    metadata:
      labels:
        wireService: brig
        release: {{ .Release.Name }}
      annotations:
        # An annotation of the configmap checksum ensures changes to the configmap cause a redeployment upon `helm upgrade`
        checksum/configmap: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print .Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: "brig-config"
          configMap:
            name: "brig"
        - name: "brig-secrets"
          secret:
            secretName: "brig"
        - name: "turn-servers"
          emptyDir: {}
      initContainers:
        # TODO: Proper TURN/calling config;
        # this just creates a file to allow brig to start, but
        # audio/video/TURN will not work
        - name: fake-turn
          image: alpine:3.6
          command:
          - sh
          - -c
          - echo -e "{{- range .Values.turnStatic.v1 }}{{ . }}\n{{- end }}" | sed '$d' > /etc/wire/brig/turn/turn-servers.txt
          volumeMounts:
          - name: turn-servers
            mountPath: "/etc/wire/brig/turn"
        - name: fake-turn-v2
          image: alpine:3.6
          command:
          - sh
          - -c
          - echo -e "{{- range .Values.turnStatic.v2 }}{{ . }}\n{{- end }}" | sed '$d' > /etc/wire/brig/turn/turn-servers-v2.txt
          volumeMounts:
          - name: turn-servers
            mountPath: "/etc/wire/brig/turn"
      containers:
        - name: brig
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
          volumeMounts:
          - name: "brig-secrets"
            mountPath: "/etc/wire/brig/secrets"
          - name: "brig-config"
            mountPath: "/etc/wire/brig/conf"
          - name: "turn-servers"
            mountPath: "/etc/wire/brig/turn"
          env:
          - name: LOG_LEVEL
            value: {{ .Values.config.logLevel }}
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: brig
                key: awsKeyId
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: brig
                key: awsSecretKey
          # TODO: Is this the best way to do this?
          - name: AWS_REGION
            value: "eu-west-1"
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
