kube-prometheus-stack:
  prometheus:
    ingress:
      enabled: false
      hosts:
        - prometheus.example.com
      tls:
        - secretName: prometheus-tls
          hosts:
            - prometheus.example.com
    prometheusSpec:
      affinity:
        nodeAffinity: null
      storageSpec: null
      retention: 15d
      retentionSize: 45GiB
