- name: Install Helm charts
  hosts: deploy_node
  become: yes
  become_user: "{{ ansible_user }}"
  vars:
    # admin container definition for WSD (wire-server-deploy) 
    docker_cmd_base: >-
      docker run --network=host
      -v "{{ ansible_user_dir }}/.ssh":/root/.ssh
      -v "{{ ansible_user_dir }}/wire-server-deploy/":/wire-server-deploy
      -v "{{ ansible_user_dir }}/.kube/config":/root/.kube/config
      -v "{{ ansible_user_dir }}/.minikube":{{ ansible_user_dir }}/.minikube
      -e KUBECONFIG=/root/.kube/config
      -e HOST_IP="{{ wire_ip }}"
      -e SFT_NODE="{{ k8s_sft_node }}"
      -e COTURN_NODE="{{ k8s_coturn_node }}"
      "{{ wsd_container.stdout }}"
  tasks:
  - name: Check if WSD Docker image already exists
    shell: docker images | grep "quay.io/wire/wire-server-deploy" | awk '{print $1":"$2}' | head -1
    register: existing_wsd_image
    failed_when: false
    changed_when: false

  - name: Load WSD Docker image (if not already present)
    shell: |
      docker load -i "{{ ansible_user_dir }}/wire-server-deploy/containers-adminhost/container-wire-server-deploy.tgz" | awk '{print $3}'
    register: loaded_wsd_container
    when: existing_wsd_image.stdout == ""

  - name: Set WSD container image name
    set_fact:
      wsd_container: 
        stdout: "{{ existing_wsd_image.stdout if existing_wsd_image.stdout != '' else loaded_wsd_container.stdout }}"
    
  - name: Deploy cert manager # disable if running in a private env
    shell: |
      {{ docker_cmd_base }} bash -c "source /wire-server-deploy/bin/wiab-demo/offline_deploy_k8s.sh && deploy_cert_manager"
    args:
      executable: /bin/bash
    tags:
      - helm_install
      - cert_manager_networking
    when: 
      - "'helm_install' in ansible_run_tags"
      - "'cert_manager_networking' in ansible_run_tags"

  - name: Skip message for cert manager
    debug:
      msg: "'Deploy cert manager' task. This task requires BOTH --tags helm_install AND --tags cert_manager_networking to run."
    when: 
      - "not ('helm_install' in ansible_run_tags and 'cert_manager_networking' in ansible_run_tags)"
      - "ansible_run_tags | length > 0"
    tags:
      - helm_install
      - cert_manager_networking

  - name: Deploy chart
    shell: |
      {{ docker_cmd_base }} bash -c "source /wire-server-deploy/bin/wiab-demo/offline_deploy_k8s.sh && deploy_charts {{ item }}"
    args:
      executable: /bin/bash
    loop: "{{ charts_to_deploy }}"

  - name: Deploy calling stack
    shell: |
      {{ docker_cmd_base }} bash -c "source /wire-server-deploy/bin/wiab-demo/offline_deploy_k8s.sh && deploy_calling_services"
    args:
      executable: /bin/bash

  - name: Deploy wire-utility
    shell: |
      {{ docker_cmd_base }} bash -c "helm upgrade --install --wait wire-utility /wire-server-deploy/charts/wire-utility --values /wire-server-deploy/values/wire-server/values.yaml --values /wire-server-deploy/values/wire-server/secrets.yaml --values /wire-server-deploy/values/wire-utility/values.yaml"
    args:
      executable: /bin/bash
    failed_when: false
    register: wire_utility_deploy
    
  - name: Note wire-utility deployment attempt
    debug:
      msg: "Wire-utility deployment failed. Wire-services will still function without it. Read  more about it here: https://docs.wire.com/latest/how-to/administrate/wire-utility-tool.html"
    when: wire_utility_deploy.rc != 0
