- name: Configure Iptable rules
  hosts: deploy_node
  become: yes
  vars:
    iptables_rules_comment: "Wire Iptables Rules"
    iptables_save_dir: "{{ ansible_user_dir }}/wire-iptables-rules"
  tasks:
  - name: Ensure iptables directory exists
    file:
      path: "{{ iptables_save_dir }}"
      state: directory
      owner: root
      group: root
      mode: '0755'

  # incase, this pipeline is running again, we try to preserve initial state
  - name: Check if pre_wire IPv4 ruleset file exists
    stat:
      path: "{{ iptables_save_dir }}/rules_pre_wire.v4"
    register: rules_file

  - name: Restore pre_wire IPv4 ruleset
    shell: iptables-restore < "{{ iptables_save_dir }}/rules_pre_wire.v4"
    when: rules_file.stat.exists

  - name: Save iptables rules
    shell: iptables-save -f "{{ iptables_save_dir }}"/rules_pre_wire.v4

  - name: Get the default interface for the default route
    shell: ip route | awk '/default/ {print $5}' | head -n 1
    register: default_interface
    changed_when: false

  - name: Get the IP address of the default interface
    shell: ip -4 addr show dev {{ default_interface.stdout }} | awk '/inet / {print $2}' | cut -d/ -f1
    register: default_interface_ip
    changed_when: false

  - name: Get the IP address of the k8s_ingress_controller node
    shell: |
      kubectl --kubeconfig="{{ ansible_user_dir }}/.kube/config"  get node {{ k8s_ingress_controller_node }} -o json | jq -r '.status.addresses[] | select(.type=="InternalIP").address'
    register: k8s_ingress_controller_ip
    become: yes
    become_user: "{{ ansible_user }}"
    changed_when: false

  - name: Configure DNAT rules to send http/https traffic to the k8s ingress controller
    iptables:
      table: nat
      chain: PREROUTING
      protocol: "{{ item.protocol }}"
      jump: DNAT
      in_interface: "{{ default_interface.stdout }}"
      destination: "{{ default_interface_ip.stdout }}"
      destination_port: "{{ item.port }}"
      to_destination: "{{ k8s_ingress_controller_ip.stdout }}:{{ item.to_port }}"
      state: present
      action: insert
      comment: "{{ iptables_rules_comment }}"
    loop: "{{ http_dnat_rules }}"
    loop_control:
      label: "Setting DNAT rule for port {{ item.port }} -> {{ k8s_ingress_controller_ip.stdout | default('undefined') }}:{{ item.to_port }}"

  - name: Get the {{ minikube_network_name }} Docker network ID
    shell: |
      docker network inspect {{ minikube_network_name }} | jq -r '.[0].Id'
    register: docker_network_id
    changed_when: false

  - name: Get all interfaces with bridge interfaces
    shell: ip -o addr show | awk '{print $2}' | grep -i 'br-'
    register: bridge_interfaces
    changed_when: false

  - name: Find the matching bridge interface for {{ minikube_network_name }} Docker network
    shell: |
      for iface in {{ bridge_interfaces.stdout_lines | join(' ') }}; do
        iface_id=$(echo "$iface" | cut -d '-' -f2)
        if echo "{{ docker_network_id.stdout }}" | grep -q "$iface_id"; then
          echo "$iface"
          break
        fi
      done
    register: matching_bridge_interface
    changed_when: false
    
  - name: Ensure FORWARD rule for traffic from main interface to ingress controller
    iptables:
      table: filter
      chain: FORWARD
      in_interface: "{{ default_interface.stdout }}"
      out_interface: "{{ matching_bridge_interface.stdout }}"
      jump: ACCEPT
      state: present
      action: insert
      comment: "{{ iptables_rules_comment }}"

  - name: Ensure FORWARD rule for traffic from ingress controller to main interface
    iptables:
      table: filter
      chain: FORWARD
      in_interface: "{{ matching_bridge_interface.stdout }}"
      out_interface: "{{ default_interface.stdout }}"
      jump: ACCEPT
      state: present
      action: insert
      comment: "{{ iptables_rules_comment }}"

  - name: Get the IP address of the coturn node
    shell: |
      kubectl --kubeconfig="{{ ansible_user_dir }}/.kube/config" get node {{ k8s_coturn_node }} -o json | jq -r '.status.addresses[] | select(.type=="InternalIP").address'
    register: k8s_coturn_node_ip
    changed_when: false

  - name: Display k8s_coturn_node
    debug:
      msg: "coturn node: {{ k8s_coturn_node }}, ip: {{ k8s_coturn_node_ip }}"

  - name: Configure DNAT rule to send UDP traffic for coturn to coturn server on k8s node
    iptables:
      table: nat
      chain: PREROUTING
      protocol: udp
      jump: DNAT
      destination: "{{ default_interface_ip.stdout }}"
      destination_ports: "49152:65535"
      in_interface: "{{ default_interface.stdout }}"
      to_destination: "{{ k8s_coturn_node_ip.stdout }}"
      state: present
      action: insert
      comment: "{{ iptables_rules_comment }}"

  - name: Configure DNAT rules to reach coturn servers running on k8s node
    iptables:
      table: nat
      chain: PREROUTING
      protocol: "{{ item.protocol }}"
      jump: DNAT
      in_interface: "{{ default_interface.stdout }}"
      destination: "{{ default_interface_ip.stdout }}"
      destination_port: "{{ item.port }}"
      to_destination: "{{ k8s_coturn_node_ip.stdout }}:{{ item.to_port }}"
      state: present
      action: insert
      comment: "{{ iptables_rules_comment }}"
    loop: "{{ turn_dnat_rules }}"
    loop_control:
      label: "Setting DNAT rule for port {{ item.port }} -> {{ k8s_coturn_node_ip.stdout | default('undefined') }}:{{ item.to_port }}"

  - name: Preserve the Iptables rules
    shell: iptables-save -f "{{ iptables_save_dir }}"/rules_post_wire.v4
