- name: Manage SSH keys
  hosts: deploy_node
  become: yes
  become_user: "{{ ansible_user }}"  
  tasks:
  - name: Setup ssh keys and vars
    block:
    - name: Ensure the .ssh directory exists
      file:
        path: "{{ ansible_user_dir }}/.ssh"
        state: directory
        mode: '0700'
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Generate SSH key if it does not exist
      shell: |
        if [ ! -f "{{ ansible_user_dir }}/.ssh/id_rsa_wire" ]; then
          ssh-keygen -t rsa -b 4096 -f "{{ ansible_user_dir }}/.ssh/id_rsa_wire" -N "" -C "ansible_generated_key_wire";
        fi
      args:
        creates: "{{ ansible_user_dir }}/.ssh/id_rsa_wire"

    - name: Read the private key
      slurp:
        src: "{{ ansible_user_dir }}/.ssh/id_rsa_wire"
      register: ssh_key_private

    - name: Read the public key content
      slurp:
        src: "{{ ansible_user_dir }}/.ssh/id_rsa_wire.pub"
      register: ssh_key_content

    - name: Set the public key as a fact
      set_fact:
        ssh_public_key: "{{ ssh_key_content['content'] | b64decode }}"

    - name: Set the private key as a fact
      set_fact:
        ssh_private_key: "{{ ssh_key_private['content'] | b64decode }}"

    - name: Add SSH key to the node to use it as a assethost
      authorized_key:
        user: "{{ ansible_user }}"
        state: present
        key: "{{ ssh_public_key }}"
