- name: Create wire secrets
  hosts: deploy_node
  become_user: "{{ ansible_user }}"
  become: yes
  tasks:
  - name: Generate random strings for zrest, minio_access_key, and minio_secret_key
    shell: "tr -dc A-Za-z0-9 </dev/urandom | head -c {{ item.length }}"
    register: random_strings
    changed_when: false
    with_items:
      - { name: 'zrest', length: 64 }
      - { name: 'minio_access_key', length: 20 }
      - { name: 'minio_secret_key', length: 42 }

  - name: Set generated random strings as facts
    set_fact:
      "{{ item.item.name }}": "{{ item.stdout }}"
    with_items: "{{ random_strings.results }}"

  - name: find zauth container image name
    shell: ls /home/{{ ansible_user }}/wire-server-deploy/containers-adminhost/quay.io_wire_zauth_*.tar
    register: zauth_docker_image

  - name: Load ZAUTH Docker image
    shell: |
      docker load -i "{{ zauth_docker_image.stdout }}" | awk '{print $3}'
    register: zauth_container

  - name: Generate zauth keypair
    shell: docker run "{{ zauth_container.stdout }}" -m gen-keypair -i 1
    register: zauth_output
    changed_when: false

  - name: Extract zauth keys
    set_fact:
      zauth_public: "{{ zauth_output.stdout_lines[0].split()[1] }}"
      zauth_private: "{{ zauth_output.stdout_lines[1].split()[1] }}"

  - name: Created following secrets
    debug:
      msg:
        - "zrest: {{ zrest }}"
        - "minio_access_key: {{ minio_access_key }}"
        - "minio_secret_key: {{ minio_secret_key }}"
        - "zauth_public: {{ zauth_public }}"
        - "zauth_private: {{ zauth_private }}"

  - name: Update values in secrets.yaml using Python yq
    shell: |
      yq -yi '.brig.secrets.turn.secret = "{{ zrest }}"' {{ secrets_yaml_path }}
      yq -yi '.cargohold.secrets.awsKeyId = "{{ minio_access_key }}"' {{ secrets_yaml_path }}
      yq -yi '.cargohold.secrets.awsSecretKey = "{{ minio_secret_key }}"' {{ secrets_yaml_path }}
      yq -yi '.brig.secrets.zAuth.publicKeys = "{{ zauth_public }}"' {{ secrets_yaml_path }}
      yq -yi '.brig.secrets.zAuth.privateKeys = "{{ zauth_private }}"' {{ secrets_yaml_path }}
      yq -yi '.nginz.secrets.zAuth.publicKeys = "{{ zauth_public }}"' {{ secrets_yaml_path }}
    args:
      executable: /bin/bash
    vars:
      secrets_yaml_path: "/home/{{ ansible_user }}/wire-server-deploy/values/wire-server/demo-secrets.example.yaml"
