- name: Create wire secrets
  hosts: deploy_node
  become_user: "{{ ansible_user }}"
  become: yes
  tasks:
  - name: Generate random strings for zrest, minio_access_key, and minio_secret_key
    shell: "tr -dc A-Za-z0-9 </dev/urandom | head -c {{ item.length }}"
    register: random_strings
    changed_when: false
    with_items:
      - { name: 'zrest', length: 64 }
      - { name: 'minio_access_key', length: 20 }
      - { name: 'minio_secret_key', length: 42 }

  - name: Set generated random strings as facts
    set_fact:
      "{{ item.item.name }}": "{{ item.stdout }}"
    with_items: "{{ random_strings.results }}"

  - name: Check if ZAUTH Docker image already exists
    shell: docker images | grep "quay.io/wire/zauth" | awk '{print $1":"$2}' | head -1
    register: existing_zauth_image
    failed_when: false
    changed_when: false

  - name: find zauth container image file (if image not already present)
    shell: find "{{ ansible_user_dir }}/wire-server-deploy/containers-adminhost/" -name "quay.io_wire_zauth_*.tar" -type f | head -1
    register: zauth_docker_image
    when: existing_zauth_image.stdout == ""

  - name: Load ZAUTH Docker image (if not already present)
    shell: |
      docker load -i "{{ zauth_docker_image.stdout }}" | awk '{print $3}'
    register: loaded_zauth_container
    when: existing_zauth_image.stdout == ""

  - name: Set ZAUTH container image name
    set_fact:
      zauth_container:
        stdout: "{{ existing_zauth_image.stdout if existing_zauth_image.stdout != '' else loaded_zauth_container.stdout }}"

  - name: Generate zauth keypair
    shell: docker run "{{ zauth_container.stdout }}" -m gen-keypair
    register: zauth_output
    changed_when: false
    ignore_errors: true

  - name: Fallback - Generate zauth keypair with index
    shell: docker run "{{ zauth_container.stdout }}" -m gen-keypair -i 1
    register: zauth_output
    changed_when: false
    when: zauth_output is failed

  - name: Extract zauth keys
    set_fact:
      zauth_public: "{{ zauth_output.stdout_lines[0].split()[1] }}"
      zauth_private: "{{ zauth_output.stdout_lines[1].split()[1] }}"

  - name: Update values in secrets.yaml using yq
    shell: |
      yq eval -i '.brig.secrets.turn.secret = "{{ zrest }}"' {{ secrets_yaml_path }}
      yq eval -i '.brig.secrets.zAuth.publicKeys = "{{ zauth_public }}"' {{ secrets_yaml_path }}
      yq eval -i '.brig.secrets.zAuth.privateKeys = "{{ zauth_private }}"' {{ secrets_yaml_path }}
      yq eval -i '.nginz.secrets.zAuth.publicKeys = "{{ zauth_public }}"' {{ secrets_yaml_path }}
    args:
      executable: /bin/bash
    vars:
      secrets_yaml_path: "{{ ansible_user_dir }}/wire-server-deploy/values/wire-server/secrets.yaml"
