{
    "endpoints": {
        "backendURL": "{{ backendURL }}",
        "backendWSURL": "{{ backendWSURL }}",
        "blackListURL": "{{ blackListURL }}",
        "teamsURL": "{{ teamsURL }}",
        "accountsURL": "{{ accountsURL }}",
        "websiteURL": "{{ websiteURL }}"
    },
    "title": "{{ deeplink_title }}"
}
