<!DOCTYPE html>
<html>

<body>
    <h1 align="left" style="font-family: Verdana, Geneva, sans-serif">
        <a href="wire://access/?config={{ deeplink_config_json }}">CLICK ME TO CONFIGURE</a></h1>
    <p> Clicking the above link will use the following json configuration file:
    <code>wire://access/?config={{ deeplink_config_json }}</code></p>
</body>

</html>

