#!/usr/sbin/nft -f

flush ruleset

define KUBENODEIP = 192.168.122.21
define SFTIP      = 192.168.122.21
define COTURNIP   = 192.168.122.23
define INF_WAN    = {{ ansible_default_ipv4.interface }}

table inet filter {
  chain block_definitions {
    ct state established,related accept
    ct state invalid drop
    tcp flags != syn ct state new counter drop
    counter drop
#    log prefix "DROP " counter drop
  }
  chain INPUT {
    type filter hook input priority 0;
    ip protocol icmp icmp type echo-request counter accept
    ip6 nexthdr ipv6-icmp icmpv6 type echo-request counter accept
    ip6 nexthdr ipv6-icmp ip6 hoplimit 1 icmpv6 type { nd-neighbor-advert, nd-neighbor-solicit, nd-router-advert } counter accept
    ip6 nexthdr ipv6-icmp ip6 hoplimit 255 icmpv6 type { nd-neighbor-advert, nd-neighbor-solicit, nd-router-advert } counter accept
    iifname { lo, virbr0 } counter accept
    tcp dport 22 counter accept comment "SSH incoming"
    jump block_definitions
  }
  chain FORWARD {
    type filter hook forward priority 0;
    iifname virbr0 oifname $INF_WAN counter accept comment "allow internet for internal VMs, needed fo things like letsencrypt cert issue"
    iifname virbr0 oifname virbr0 counter accept comment "allow traffic between VMs"
    iifname $INF_WAN oifname virbr0 ct status dnat counter accept comment "allow DNAT forward from external interface to virbr0"
    iifname docker0 oifname virbr0 counter accept
    jump block_definitions
  }
  chain OUTPUT {
    type filter hook output priority 0;
    policy accept;
  }
}
table ip nat {
  chain PREROUTING {
    type nat hook prerouting priority -100;

    iifname { $INF_WAN, virbr0 } tcp dport 80 fib daddr type local dnat to $KUBENODEIP:31772 comment "HTTP ingress"
    iifname { $INF_WAN, virbr0 } tcp dport 443 fib daddr type local dnat to $KUBENODEIP:31773 comment "HTTPS ingress"

    iifname { $INF_WAN, virbr0 } tcp dport 3478 fib daddr type local dnat to $COTURNIP comment "COTURN control TCP"
    iifname { $INF_WAN, virbr0 } udp dport 3478 fib daddr type local dnat to $COTURNIP comment "COTURN control UDP"

    iifname { $INF_WAN, virbr0 } udp dport 32768-46883 fib daddr type local dnat to $COTURNIP comment "COTURN UDP range"
    iifname { $INF_WAN, virbr0 } udp dport 46884-61000 fib daddr type local dnat to $SFTIP comment "SFT UDP range"

    fib daddr type local counter jump DOCKER
  }
  chain POSTROUTING {
    type nat hook postrouting priority 100;
    oifname != docker0 ip saddr 172.17.0.0/16 counter masquerade
    oifname $INF_WAN counter masquerade comment "masquerade outgoing traffic"
  }
  chain DOCKER {
    iifname docker0 counter return
  }
  chain OUTPUT {
    type nat hook output priority -100; policy accept;
    ip daddr != 127.0.0.0/8 fib daddr type local counter jump DOCKER
  }
}
