tags:
  proxy: false # enable if you want/need giphy/youtube/etc proxying
  spar: false # enable if you want/need Single-Sign-On (SSO)

cassandra-migrations:
  images:
    tag: 2.50.169
  cassandra:
    host: cassandra-ephemeral
    replicaCount: 1

elasticsearch-index:
  elasticsearch:
    host: elasticsearch-ephemeral

brig:
  replicaCount: 1
  image:
    tag: 2.50.169
  config:
    cassandra:
      host: cassandra-ephemeral
      replicaCount: 1
    elasticsearch:
      host: elasticsearch-ephemeral
    useSES: false
    aws:
      # change if using real AWS
      sqsEndpoint: http://fake-aws-sqs:4568
      dynamoDBEndpoint: http://fake-aws-dynamodb:4567
      # these must match the table names created on fake or real AWS services
      internalQueue: integration-brig-events-internal
      blacklistTable: integration-brig-userkey-blacklist
      prekeyTable: integration-brig-prekeys
    externalUrls:
      nginz: https://api.example.com # change this
      teamSettings: https://teams.example.com # change this (on unset if team settings are not used)
      teamCreatorWelcome: https://teams.example.com/login # change this
      teamMemberWelcome: https://wire.example.com/download # change this
    optSettings:
      setCookieDomain: example.com # change this
    emailSMS:
      general:
        emailSender: email@example.com # change this
        smsSender: "insert-sms-sender-for-twilio" # change this if SMS support is desired
    smtp:
      host: demo-smtp # change this if you want to use your own SMTP server
      port: 25        # change this
      connType: plain # change this. Possible values: plain|ssl|tls

proxy:
  replicaCount: 1
  image:
    tag: 2.50.169

cannon:
  replicaCount: 1
  image:
    tag: 2.50.169
  drainTimeout: 10 # we don't need higher-availability in demo-mode

cargohold:
  replicaCount: 1
  image:
    tag: 2.50.169
  config:
    aws:
      # change if using real AWS
      s3Bucket: dummy-bucket
      s3Endpoint: http://fake-aws-s3:9000
      s3DownloadEndpoint: https://bare-s3.example.com

galley:
  replicaCount: 1
  image:
    tag: 2.50.169
  config:
    cassandra:
      host: cassandra-ephemeral
      replicaCount: 1
    settings:
      # prefix URI used when inviting users to a conversation by link
      conversationCodeURI: https://example.com/join/ # change this

gundeck:
  replicaCount: 1
  image:
    tag: 2.50.169
  config:
    cassandra:
      host: cassandra-ephemeral
      replicaCount: 1
    aws:
      # change if using real AWS
      account: "123456789012"
      region: eu-west-1
      arnEnv: integration
      queueName: integration-gundeck-events
      sqsEndpoint: http://fake-aws-sqs:4568
      snsEndpoint: http://fake-aws-sns:4575

nginz:
  replicaCount: 1
  config:
    ws:
      useProxyProtocol: false
  images:
    nginz:
      tag: 2.15.1
  nginx_conf:
    # using prod means mostly that some internal endpoints are not exposed
    env: prod
    external_env_domain: example.com

webapp:
  replicaCount: 1
  image:
    tag: bed0076358685ef2f591b8c05f185cf4607dd32f
  config:
    externalUrls:
      backendRest: bare-https.example.com
      backendWebsocket: bare-ssl.example.com
      backendDomain: example.com

team-settings:
  replicaCount: 1
  image:
    tag: 4e4467c29197aa85e63eaa644d080704b80bc14b
  config:
    externalUrls:
      backendRest: bare-https.example.com
      backendWebsocket: bare-ssl.example.com
      backendDomain: example.com
      webappHost: bare-webapp.example.com
