# CHANGEME-PROD: All values here should be changed/reviewed
tags:
  proxy: false # enable if you want/need giphy/youtube/etc proxying
  spar: false # enable if you want/need Single-Sign-On (SSO)

cassandra-migrations:
  # images:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)
  cassandra:
    host: cassandra-external
    replicaCount: 3

elasticsearch-index:
  elasticsearch:
    host: elasticsearch-external

brig:
  replicaCount: 3
  # image:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    cassandra:
      host: cassandra-external
      replicaCount: 3
    elasticsearch:
      host: elasticsearch-external
    useSES: false
    aws:
      # change if using real AWS
      sqsEndpoint: http://fake-aws-sqs:4568
      dynamoDBEndpoint: http://fake-aws-dynamodb:4567
      # these must match the table names created on fake or real AWS services
      internalQueue: integration-brig-events-internal
      blacklistTable: integration-brig-userkey-blacklist
      prekeyTable: integration-brig-prekeys
    externalUrls:
      nginz: https://nginz-https.example.com # change this
      teamSettings: https://teams.example.com # change this (or unset if team settings are not used)
      teamCreatorWelcome: https://teams.example.com/login # change this
      teamMemberWelcome: https://wire.example.com/download # change this
    optSettings:
      setCookieDomain: example.com # change this
    emailSMS:
      general:
        emailSender: email@example.com # change this
        smsSender: "insert-sms-sender-for-twilio" # change this if SMS support is desired
      user:
        passwordResetUrl: https://account.example.com/reset/?key=${key}&code=${code}
        activationUrl: https://account.example.com/verify/?key=${key}&code=${code}
        smsActivationUrl: https://account.example.com/v/${code}
        deletionUrl: https://account.example.com/d/?key=${key}&code=${code}
        invitationUrl: https://account.example.com/i/${code}
    smtp:
      host: demo-smtp # change this if you want to use your own SMTP server
      port: 25        # change this
      connType: plain # change this. Possible values: plain|ssl|tls
  turnStatic:
    v1:
      - "turn:turn01.example.com:80"
      - "turn:turn02.example.com:80"
    v2:
      - "turn:turn01.example.com:3478"
      - "turn:turn02.example.com:3478"
      - "turn:turn01.example.com:80?transport=tcp"
      - "turn:turn02.example.com:80?transport=tcp"

proxy:
  replicaCount: 3
  # image:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)

cannon:
  replicaCount: 3
  # image:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)
  # For demo mode only, we don't need to keep websocket connections open on chart upgrades
  drainTimeout: 10

cargohold:
  replicaCount: 3
  # image:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    aws:
      # change if using real AWS
      s3Bucket: dummy-bucket
      s3Endpoint: http://minio-external:9000
      s3DownloadEndpoint: https://s3.example.com

galley:
  replicaCount: 3
  # image:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    cassandra:
      host: cassandra-external
      replicaCount: 3
    settings:
      # prefix URI used when inviting users to a conversation by link
      conversationCodeURI: https://webapp.example.com/join/ # change this

gundeck:
  replicaCount: 3
  # image:
  #   tag: some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    cassandra:
      host: cassandra-external
      replicaCount: 3
    aws:
      # change if using real AWS
      account: "123456789012"
      region: eu-west-1
      arnEnv: integration
      queueName: integration-gundeck-events
      sqsEndpoint: http://fake-aws-sqs:4568
      snsEndpoint: http://fake-aws-sns:4575

nginz:
  replicaCount: 3
  config:
    ws:
      useProxyProtocol: false
  # images:
  #   nginz:
  #     tag: some-tag (only override if you want a newer/different version than what is in the chart)
  nginx_conf:
    # using prod means mostly that some internal endpoints are not exposed
    env: prod
    external_env_domain: example.com
  # For demo mode only, we don't need to keep websocket connections open on upgrade:
  drainTimeout: 10
  terminationGracePeriodSeconds: 30

webapp:
  replicaCount: 1
  # image:
  #   tag: # some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    externalUrls:
      backendRest: nginz-https.example.com
      backendWebsocket: nginz-ssl.example.com
      backendDomain: example.com
      backendTeamSettings: teams.example.com
      appHost: webapp.example.com
  envVars:
    APP_BASE: "https://app.example.com"
    APP_NAME: "Webapp"
    ENFORCE_HTTPS: "false"
    FEATURE_CHECK_CONSENT: "false"
    FEATURE_ENABLE_ACCOUNT_REGISTRATION: "false"
    FEATURE_ENABLE_DEBUG: "false"
    FEATURE_ENABLE_PHONE_LOGIN: "false"
    FEATURE_ENABLE_SSO: "false"
    FEATURE_SHOW_LOADING_INFORMATION: "false"
    URL_ACCOUNT_BASE: "https://account.example.com"
    #URL_MOBILE_BASE: "https://wire-pwa-staging.zinfra.io" # TODO: is this needed?
    URL_PRIVACY_POLICY: "https://www.example.com/terms-conditions"
    URL_SUPPORT_BASE: "https://www.example.com/support"
    URL_TEAMS_BASE: "https://teams.example.com"
    URL_TERMS_OF_USE_PERSONAL: "https://www.example.com/terms-conditions"
    URL_TERMS_OF_USE_TEAMS: "https://www.example.com/terms-conditions"
    URL_WEBSITE_BASE: "https://www.example.com"
    CSP_EXTRA_CONNECT_SRC: "https://*.example.com, wss://*.example.com"
    CSP_EXTRA_IMG_SRC: "https://*.example.com"
    CSP_EXTRA_SCRIPT_SRC: "https://*.example.com"
    CSP_EXTRA_DEFAULT_SRC: "https://*.example.com"
    CSP_EXTRA_FONT_SRC: "https://*.example.com"
    CSP_EXTRA_FRAME_SRC: "https://*.example.com"
    CSP_EXTRA_MANIFEST_SRC: "https://*.example.com"
    CSP_EXTRA_OBJECT_SRC: "https://*.example.com"
    CSP_EXTRA_MEDIA_SRC: "https://*.example.com"
    CSP_EXTRA_PREFETCH_SRC: "https://*.example.com"
    CSP_EXTRA_STYLE_SRC: "https://*.example.com"
    CSP_EXTRA_WORKER_SRC: "https://*.example.com"

# NOTE: Only relevant if you want team-settings
team-settings:
  replicaCount: 1
  # image:
  #   tag: # some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    externalUrls:
      backendRest: nginz-https.example.com
      backendWebsocket: nginz-ssl.example.com
      backendDomain: example.com
      appHost: webapp.example.com

# NOTE: Only relevant if you want account-pages
account-pages:
  replicaCount: 1
  # image:
  #   tag: # some-tag (only override if you want a newer/different version than what is in the chart)
  config:
    externalUrls:
      backendRest: nginz-https.example.com
      backendDomain: example.com
      appHost: webapp.example.com
