all:
  vars:
    ansible_user: demo
    ansible_ssh_common_args: >-
      -o StrictHostKeyChecking=no
      -o UserKnownHostsFile=/dev/null
      -o ControlMaster=auto
      -o ControlPersist=60s
    # ssh private_key is stored in wire-server-deploy/ssh
    # assuming all ansible commands will be issued from wire-server-deploy
    ansible_ssh_private_key_file: "ssh/id_ed25519"

assethost:
  hosts:
    assethost:
      ansible_host: "assethost_ip"

kube-node:
  hosts:
    kubenode1:
      ansible_host: "kubenode1_ip"
    kubenode2:
      ansible_host: "kubenode2_ip"
    kubenode3:
      ansible_host: "kubenode3_ip"

kube-master:
  children:
    kube-node: {}

etcd:
  children:
    kube-node: {}

k8s-cluster:
  children:
    kube-node: {}
    kube-master: {}

datanodes:
  hosts:
    datanode1:
      ansible_host: "datanode1_ip"
    datanode2:
      ansible_host: "datanode2_ip"
    datanode3:
      ansible_host: "datanode3_ip"

cassandra:
  children:
    datanodes: {}
  vars:
    cassandra_network_interface: enp1s0

cassandra_seed:
  hosts:
    datanode1: {}

elasticsearch:
  children:
    datanodes: {}
  vars:
    elasticsearch_network_interface: enp1s0

minio:
  children:
    datanodes: {}
  vars:
    minio_network_interface: enp1s0

rabbitmq:
  children:
    datanodes: {}
  vars:
    rabbitmq_network_interface: enp1s0

postgresql:
  children:
    datanodes: {}
  vars:
    wire_dbname: wire-server
    postgresql_network_interface: enp1s0

postgresql_rw:
  hosts:
    postgresql1: {}

postgresql_ro:
  hosts:
    postgresql2: {}
    postgresql3: {}
