apiVersion: v1
data:
  cannon.yaml: |
    logNetStrings: True # log using netstrings encoding:
                        # http://cr.yp.to/proto/netstrings.txt
    logLevel: {{ .Values.config.logLevel }}

    cannon:
      host: 0.0.0.0
      port: {{ .Values.service.internalPort }}
      externalHostFile: /etc/wire/cannon/ip/ip.txt

    gundeck:
      host: gundeck
      port: 8080
kind: ConfigMap
metadata:
  name: cannon
