- name: Ensure no ongoing repairs on any node and stop cronjobs
  hosts: cassandra
  gather_facts: yes
  vars_files:
    - roles/cassandra/defaults/main.yml

  tasks:
    # First let's ensure that are no repairs on _any_ nodes
    - include: tasks/cassandra_remove_cron.yml
      vars:
        cluster_name: default
    - include: tasks/cassandra_wait_ongoing_repair.yml

- name: Prepare the nodes
  hosts: cassandra
  any_errors_fatal: yes
  gather_facts: no
  serial: 1
  tasks:
    - name: 'Cassandra: first upgrade sstables'
      shell: nodetool upgradesstables

    - name: 'Cassandra: run repairs'
      shell: nodetool repair -full -pr 2>&1 | svlogd -tt /var/log/cassandra_repair

    - include: tasks/cassandra_cluster_healthy.yml

    - name: 'Cassandra: backup the data'
      shell: /usr/local/bin/cassandra_backup_{{ cluster_name }} 2>&1 | svlogd -tt /var/log/cassandra_daily_backup
