# See https://wearezeta.atlassian.net/browse/BM-12
# See https://docs.k8ssandra.io/tasks/migrate/
- name: 'alter keyspace replication'
  vars_prompt:
    - name: old
      promt: "name of old datacenter"
      private: no
    - name: k8ssandra_dc_name
      promt: "name of new datacenter in k8ssandra"
      private: no
    - name: phase
      prompt: "enter phase: BEFORE (before connecting to k8ssandra), TWO (for replicating to two datacentres once they are alreay connected)"
      private: no
  hosts: cassandra
  any_errors_fatal: yes
  tasks:
    - name: phase check
      fail:
        msg: "phase must be one of [BEFORE, TWO]"
      when: phase not in ["BEFORE", "TWO"]

    - action: ec2_metadata_facts

    - when: phase == "BEFORE"
      name: alter keyspace BEFORE
      shell: >
        /opt/cassandra/bin/cqlsh $(hostname) -e "ALTER KEYSPACE {{ item }} WITH replication = {'class': 'NetworkTopologyStrategy', '{{ old }}': 3}"
      loop:
        - "system_auth"
        - "system_traces"
        - "system_distributed"
        - "spar"
        - "brig"
        - "gundeck"
        - "galley"

    - when: phase == "BEFORE"
      debug:
        msg: Run a repair now using cassandra_rolling_repair.yml!

    - when: phase == "TWO"
      name: alter keyspace to replicate to TWO datacentres
      shell: >
        /opt/cassandra/bin/cqlsh $(hostname) -e "ALTER KEYSPACE {{ item }} WITH replication = {'class': 'NetworkTopologyStrategy', '{{ old }}': 3, '{{ k8ssandra_dc_name }}': 3}"
      loop:
        - "system_auth"
        - "system_traces"
        - "system_distributed"
        - "{{ main_keyspace }}"
