# Note that these are the correct values assuming that both Cassandra
# and Elasticsearch are deployed outside of Kubernetes
tags:
  cassandra-ephemeral: false
  elasticsearch-ephemeral: false

redis-ephemeral:
  redis-ephemeral:
    resources:
      limits:
        cpu: "1000m"
        memory: "1024Mi"
      requests:
        cpu: "500m"
        memory: "512Mi"
    image:
      registry: docker.io
      repository: bitnamilegacy/redis
      tag: 7.2.5
