replicaCount: 3
image:
  repository: quay.io/wire/galley
  tag: 2.62.0
  schemaRepository: quay.io/wire/galley-schema
service:
  externalPort: 8080
  internalPort: 8080
resources:
  requests:
    memory: 256Mi
    cpu: 250m
  limits:
    memory: 512Mi
    cpu: 500m
config:
  logLevel: Debug
  cassandra:
    host: aws-cassandra
    replicaCount: 3
  settings:
    maxConvAndTeamSize: 500
    maxTeamSize: 500
    maxConvSize: 500
    featureFlags:
      sso: disabled-by-default
      legalhold: disabled-by-default
