apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    wireService: {{ template "fullname" . }}
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    component: {{ template "fullname" . }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        component: {{ template "fullname" . }}
    spec:
      containers:
      - name: es
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        env:
        - name: MAX_HEAP_SIZE
          value: "{{ .Values.heap_max }}"
        - name: HEAP_NEWSIZE
          value: "{{ .Values.heap_new }}"
        ports:
        - containerPort: 9200
          name: http
          protocol: TCP
        - containerPort: 9300
          name: transport
          protocol: TCP
        volumeMounts:
        - name: storage
          mountPath: /data
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - emptyDir:
            medium: ""
          name: "storage"
