# Deeplink configuration defaults
#
# This role requires the following variables to be set:
#
#prefix: example-
#domain: example.com
#deeplink_title: Example Environment

assetsURL: "https://{{ prefix }}assets.{{ domain }}"
deeplink_config_json: "{{ assetsURL }}/public/deeplink.json"
backendURL: "https://{{ prefix }}nginz-https.{{ domain }}"
backendWSURL: "https://{{ prefix }}nginz-ssl.{{ domain }}"
teamsURL: "https://{{ prefix }}teams.{{ domain }}"
accountsURL: "https://{{ prefix }}account.{{ domain }}"

# FUTUREWORK:
# Note the website, for Wire, points to https://wire.com
# There is currently no equivalent for custom backends
# So all URLs in the mobile app that point to a url on the wire website will
# not work, as the default of 'www' points nowhere.
websiteURL: "https://{{ prefix }}www.{{ domain }}"

# This currently assumes android clients only
blackListURL: "{{ assetsURL }}/public/blacklist/android.json"
