# Image digests are not supported by our `wire-server-deploy` machinery.
# They cannot be correctly dumped to tar files and then be loaded by
# `containerd`.
ingress-nginx:
  controller:
    # There's no loadbalancer support in the Hetzner CI environment
    kind: DaemonSet
    service:
      type: NodePort
    image:
      tag: "v1.10.6"
      digest: ""
      digestChroot: ""
    admissionWebhooks:
      patch:
        image:
          tag: "v20220916-gd32f8c343"
          digest: ""
