apiVersion: apps/v1
kind: Deployment
metadata:
  name: cargohold
  labels:
    wireService: cargohold
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      wireService: cargohold
  template:
    metadata:
      labels:
        wireService: cargohold
        release: {{ .Release.Name }}
      annotations:
        # An annotation of the configmap checksum ensures changes to the configmap cause a redeployment upon `helm upgrade`
        checksum/configmap: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print .Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: "cargohold-config"
          configMap:
            name: "cargohold"
        - name: "cargohold-secrets"
          secret:
            secretName: "cargohold"
      containers:
        - name: cargohold
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
          volumeMounts:
          - name: "cargohold-secrets"
            mountPath: "/etc/wire/cargohold/secrets"
          - name: "cargohold-config"
            mountPath: "/etc/wire/cargohold/conf"
          env:
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: cargohold
                key: awsKeyId
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: cargohold
                key: awsSecretKey
      {{- range $key, $val := .Values.envVars }}
          - name: {{ $key }}
            value: {{ $val | quote }}
      {{- end }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /i/status
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
