# Default values for nginx-lb-ingress

# Team settings are disabled by default since they
# require access to a private repo.
teamSettings:
  enabled: false

# If you want to use TLS termination on the ingress,
# then set this variable to true and ensure that there
# is a valid wildcard TLS certificate
# When TLS is enable, ensure that you have the certificate
# and secret in a file under helm_vars/bare/secret.yaml (or
# another location) since enabling TLS requires you to supply
# a `tlsWildcardCert` and `tlsWildcardKey` (these will then be
# 64 encoded as part of the secret creation) so those values
# should simply contain the certificate and key (you can also
# encrypt them with sops and use helm-wrapper, check README.md
# for an example)
tls:
  enabled: false

nginx-ingress:
  controller:
    config:
      proxy-body-size: 1024m

service:
  nginz:
    externalHttpPort: 8080
    externalTcpPort: 8081
  webapp:
    externalPort: 8080
  s3:
    externalPort: 9000
  teamSettings:
    externalPort: 8080

# You will need to supply some DNS names, namely
# config:
#   dns:
#     https: bare-https.<domain>
#     ssl: bare-ssl.<domain>
#     webapp: bare-webapp.<domain>
#     fakeS3: bare-s3.<domain>
#     teamSettings: bare-team.<domain>
#     ^ teamSettings is ignored unless teamSettings.enabled == true
