replicaCount: 3
#  image:
#    tag: some-tag (only override if you want a newer/different version than what is in the chart)
config:
  externalUrls:
    backendRest: nginz-https.example.com
    backendWebsocket: nginz-ssl.example.com
    backendDomain: example.com
    backendTeamSettings: teams.example.com
    appHost: webapp.example.com
# See full list of available environment variables: https://github.com/wireapp/wire-web-config-default/blob/master/wire-webapp/.env.defaults
envVars:
  APP_NAME: "Webapp"
  ENFORCE_HTTPS: "true"
  FEATURE_CHECK_CONSENT: "false"
  # Note: disabling showing the user creation is not the same thing as user creation being disabled.
  # To disable user/team creation completely from backend, update the brig configuration in wire-server
  FEATURE_ENABLE_ACCOUNT_REGISTRATION: "true"
  FEATURE_ENABLE_DEBUG: "false"
  FEATURE_ENABLE_PHONE_LOGIN: "false"
  FEATURE_ENABLE_SSO: "false"
  FEATURE_SHOW_LOADING_INFORMATION: "false"
  URL_ACCOUNT_BASE: "https://account.example.com"
  #URL_MOBILE_BASE: "https://wire-pwa-staging.zinfra.io" # TODO: is this needed?
  URL_PRIVACY_POLICY: "https://www.example.com/terms-conditions"
  URL_SUPPORT_BASE: "https://www.example.com/support"
  URL_TEAMS_BASE: "https://teams.example.com"
  URL_TEAMS_CREATE: "https://teams.example.com"
  URL_TERMS_OF_USE_PERSONAL: "https://www.example.com/terms-conditions"
  URL_TERMS_OF_USE_TEAMS: "https://www.example.com/terms-conditions"
  URL_WEBSITE_BASE: "https://www.example.com"
  CSP_EXTRA_CONNECT_SRC: "https://*.example.com, wss://*.example.com"
  CSP_EXTRA_IMG_SRC: "https://*.example.com"
  CSP_EXTRA_SCRIPT_SRC: "https://*.example.com"
  CSP_EXTRA_DEFAULT_SRC: "https://*.example.com"
  CSP_EXTRA_FONT_SRC: "https://*.example.com"
  CSP_EXTRA_FRAME_SRC: "https://*.example.com"
  CSP_EXTRA_MANIFEST_SRC: "https://*.example.com"
  CSP_EXTRA_OBJECT_SRC: "https://*.example.com"
  CSP_EXTRA_MEDIA_SRC: "https://*.example.com"
  CSP_EXTRA_PREFETCH_SRC: "https://*.example.com"
  CSP_EXTRA_STYLE_SRC: "https://*.example.com"
  CSP_EXTRA_WORKER_SRC: "https://*.example.com"
