# This role requires access to s3 buckets and has a few variables that need to
# be set. When run with any variables missing, it will complain about those
# variables.
# To replace hosts: localhost as suggested in http://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html
- hosts: fakehost
  connection: local
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
  gather_facts: no
  roles:
    - role: sft-monitoring-certs
      when: "{{ (groups['sft_servers'] | length) > 0 }}"

- hosts: sft_servers
  roles:
    - role: sft-server
    - role: srv-announcer
  tasks:
    # The Ubuntu images provided by hetzner have systemd-resolved enabled,
    # but don't use the nss module, and direct all traffic through the
    # 127.0.0.53 stub resolver
    # This one seems to be flaky.
    # Instead, configure it to use /run/systemd/resolve/resolv.conf, which points to
    # the DNS servers retrieved via DHCP directly
    - name: Workaround systemd-resolved being flaky
      file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        owner: root
        group: root
        state: link

- hosts: fakehost
  connection: local
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"
  gather_facts: no
  tasks:
    - when: "{{ (groups['sft_servers'] | length) > 0 }}"
      block:
      - name: Get all SRV recoreds
        route53:
          zone: "{{ root_domain }}"
          type: "SRV"
          record: "_sft._tcp.{{ environment_name }}.{{ root_domain }}"
          state: get
        register: srv_records
      - name: Delete all SRV records
        route53:
          zone: "{{ root_domain }}"
          type: "SRV"
          record: "_sft._tcp.{{ environment_name }}.{{ root_domain }}"
          state: "delete"
          value: "{{ srv_records.set.value }}"
          ttl: "{{ srv_records.set.ttl }}"
