- name: Seed system containers
  hosts: k8s-cluster
  tags: system-containers
  tasks:
    - name: load containers
      shell: |
        for container in $(curl -q {{ assethost_host }}/containers-system/index.txt);do
          curl -q "{{ assethost_host }}/containers-system/$container" | ctr -n=k8s.io images import -
        done

- name: Download helm containers
  hosts: k8s-cluster
  tags: containers-helm
  tasks:
    - name: load helm containers
      shell: |
        for container in $(curl -q {{ assethost_host }}/containers-helm/index.txt);do
          curl -q "{{ assethost_host }}/containers-helm/$container" | ctr -n=k8s.io images import -
        done


################################### Hack to tag the ingress-nginx container images ###############
#- name: Load ingress-controller containers
#  hosts: k8s-cluster
#  tags: containers-helm
#  tasks:
#    - name: load ingress-nginx containers
#      shell: |
#        sudo ctr -n=k8s.io images tag registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20220916-gd32f8c343 registry.k8s.io/ingress-nginx/kube-webhook-certgen@sha256:39c5b2e3310dc4264d638ad28d9d1d96c4cbb2b2dcfb52368fe4e3c63f61e10f
#        sudo ctr -n=k8s.io images tag registry.k8s.io/ingress-nginx/controller:v1.6.4 registry.k8s.io/ingress-nginx/controller:v1.6.4@sha256:15be4666c53052484dd2992efacf2f50ea77a78ae8aa21ccd91af6baaa7ea22f
####################################################################################################


- name: Download restund container
  hosts: restund
  tags: restund-containers
  tasks:
    - name: load restund container
      shell: |
        for container in $(curl -q {{ assethost_host }}/containers-other/index.txt);do
          curl -q "{{ assethost_host }}/containers-other/$container" | ctr -n=k8s.io images import -
        done
