- name: Copy over binaries, debs and container images to the asset host and host them
  hosts: assethost
  become: yes
  vars:
    src_path: ".."  # Default value for src_path
    remote_src: no
  tasks:
    - file:
        path: /opt/assets
        state: directory

    - name: Copy debs jammy
      unarchive:
        src: "{{ src_path }}/debs-jammy.tar"
        dest: /opt/assets
        remote_src: "{{ remote_src }}"
      tags:
        - debs
      when: demo_deploy | default(false) == false

    - name: Copy binaries
      unarchive:
        src: "{{ src_path }}/binaries.tar"
        dest: /opt/assets
        remote_src: "{{ remote_src }}"
      tags:
        - binaries
      when: demo_deploy | default(false) == false

    - name: Copy system containers
      unarchive:
        src: "{{ src_path }}/containers-system.tar"
        dest: /opt/assets
        remote_src: "{{ remote_src }}"
      tags:
        - containers-system
        - containers
      when: demo_deploy | default(false) == false

    - name: Copy helm containers
      unarchive:
        src: "{{ src_path }}/containers-helm.tar"
        dest: /opt/assets
        remote_src: "{{ remote_src }}"
      tags:
        - containers-helm
        - containers
      when: demo_deploy | default(false) == true
            
    - name: setup serve-assets
      block:
      - Copy serve-assets.service file:
          src: files/serve-assets.service
          dest: /etc/systemd/system/serve-assets.service
      - Running serve-assets systemd service:
          name: serve-assets
          state: restarted
          enabled: yes
          daemon-reload: yes

- name: Set up offline repositories and remove online ones
  become: yes
  hosts: k8s-cluster:etcd:cassandra:elasticsearch:minio:rmq-cluster
  tasks:
  - when: demo_deploy | default(false) == false
    block:
      - name: Bail if GPG is not installed or installable.
        apt:
          name: gpg
          state: present
      - name: Remove /etc/apt/sources.list to remove all online debian package repos
        file:
          path: /etc/apt/sources.list
          state: absent
      - name: Remove /etc/apt/sources.list.d/ to remove all online debian package repos
        file:
          path: /etc/apt/sources.list.d/
          state: absent

#######################################################################
# If your offline repo's debian key has expired, uncomment this block.
#############
# If you had to uncomment this block, comment out the docker-ce repo logic in
# that starts at line 56 of
# roles-external/kubespray/roles/container-engine/docker/tasks/main.yml
# . comment out the 'ensure docker-ce repository public key is installed', and
# the 'ensure docker-ce repository is enabled' blocks.
#######################################################################
#    - name: trust anything
#      copy:
#        dest: /etc/apt/apt.conf.d/90-baroque
#        content: |
#          Acquire::Check-Valid-Until false;
#          Acquire::AllowInsecureRepositories true;
#          Apt::Get::AllowUnauthenticated true;
#          Acquire::AllowDowngradeToInsecureRepositories true;
#############################
# Otherwise, trust the repo.
#############################
      - name: Register offline repo key
        apt_key:
          url: "{{ ubuntu_repo_gpgkey }}"
          state: present

      - name: Register offline repo
        apt_repository:
          repo: "deb {{ ubuntu_repo_base_url }} {{ ansible_distribution_release }} main"
          state: present
      - name: Apt update
        apt:
          update_cache: yes
