apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: webapp
  labels:
    wireService: webapp
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: {{ .Values.replicaCount | mul 2 }}
  selector:
    matchLabels:
      wireService: webapp
      app: webapp
  template:
    metadata:
      labels:
        wireService: webapp
        app: webapp
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: webapp
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        # Check variables here: https://github.com/wireapp/wire-webapp/wiki/Self-hosting
        env:
          - name: NODE_ENV
            value: "production"
          - name: NODE_PORT
            value: "{{ .Values.service.http.webappPort }}"
          - name: APP_BASE
            value: https://{{ .Values.config.externalUrls.webappHost }}/
          - name: BACKEND_REST
            value: https://{{ .Values.config.externalUrls.backendRest }}
          - name: BACKEND_WS
            value: wss://{{ .Values.config.externalUrls.backendWebsocket }}
          - name: FEATURE_CHECK_CONSENT
            value: "false"
          # We should ensure this from the ingress; if we want/need it at this level, do
          # not forget to change the liveness and readiness probes
          - name: ENFORCE_HTTPS
            value: "false"
          - name: CSP_EXTRA_CONNECT_SRC
            value: https://*.{{ .Values.config.externalUrls.backendDomain }}, wss://*.{{ .Values.config.externalUrls.backendDomain }}
          - name: CSP_EXTRA_IMG_SRC
            value: https://*.{{ .Values.config.externalUrls.backendDomain }}
          - name: CSP_EXTRA_SCRIPT_SRC
            value: https://*.{{ .Values.config.externalUrls.backendDomain }}
          - name: URL_TEAMS_BASE
            value: {{ .Values.config.externalUrls.backendTeamSettings }}
        ports:
        - name: http
          containerPort: {{ .Values.service.http.webappPort }}
        # NOTE: /test/ returns an HTML document a 200 response code
        readinessProbe:
          httpGet:
            path: /_health/
            port: {{ .Values.service.http.webappPort }}
            scheme: HTTP
        livenessProbe:
          initialDelaySeconds: 30
          timeoutSeconds: 3
          httpGet:
            path: /_health/
            port: {{ .Values.service.http.webappPort }}
            scheme: HTTP
        resources:
{{ toYaml .Values.resources | indent 12 }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
