# More settings can be found here: https://github.com/bitnami/charts/tree/main/bitnami/rabbitmq
rabbitmq:
  # some Kernel versions does not support modifying ulimit via containers, setting this to empty won't override default ulimit
  ulimitNofiles: ""
  persistence:
    size: 10Gi
    enabled: false
    ### To use a persistent volume, set the enabled to true
    ### set and uncomment the name of your storageClass below,
    ### also, you can refer to offline/local_persistent_storage_k8s.md
    ### for deploying openebs for dynamic volume provisioning
    # storageClass: openebs-hostpath
  image:
    registry: docker.io
    repository: bitnamilegacy/rabbitmq
    tag: 3.13.7-debian-12-r2
