# This playbook is not-up-to-date, requires to be updated to match with current developments
# A new WIAB (wire in a box) dev solution has been created https://docs.wire.com/latest/how-to/install/demo-wiab.html and can be used until this (wiab-staging) gets updated
name: Deploy on Hetzner WIAB setup
on:
  workflow_run:
    workflows: ["Prepare custom offline package"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: autodeploy-script
      cancel-in-progress: false

    steps:
      # Step 1: Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up SSH key for remote access
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.WIAB_PRIVATE_SSH_KEY }}
    
      # Step 3: Get the latest commit SHA, for the artifact
      - name: Get latest commit SHA
        id: get_commit_sha
        run: |
          COMMIT_SHA=$(git rev-parse HEAD)
          echo "commit_sha=$COMMIT_SHA" >> $GITHUB_ENV

      # Step 4: Run the autodeploy script
      - name: Run Auto Deploy Script
        run: |
          cd bin
          ./autodeploy.sh --artifact-hash ${{ env.COMMIT_SHA }} --target-domain wiab-test-box.wire.link --force-redeploy
