on:
  schedule:
    - cron: '0 8 * * *'
  # Allow triggering dep update manually
  workflow_dispatch:
jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/cachix-action@v10
      with:
        name: wire-server
        signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
    - uses: cachix/install-nix-action@v14.1
    - name: Build the environment
      run: nix-build -A env
    - name: Install the environment
      run: nix-env -f . -A env -i
    - name: Niv update
      run: |
        niv update
    - name: Container update
      run: |
        nix-prefetch-docker alpine --image-tag 3 > ./nix/docker-alpine.nix
    - name: Create Pull Request if there was a change
      uses: peter-evans/create-pull-request@v3.6.0
      with:
        title: "chore: update dependencies"
        token: ${{ secrets.PAT }} # needed so that this triggers further flows. not ideal.
        branch: "chore/update-dependencies"
